@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

* {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.hidden {
    display: none;
}

body {
    height: 100vh;
    margin: 0;
    background-image: url('https://source.unsplash.com/1600x900/?nature');
    background-size: cover;
    background-position: center;
}